*.class
**/target
**/build
**/dist
**/ebin
**/.rebar
**/*.tar.gz
**/*.tar.bz2
**/*.zip
**/*.log
**/*.status
**/*.lo
**/*.la
**/*.o
**/*.a
**/*.so
**/.libs
**/bin
**/.polyglot.build.properties
**/.idea
**/.deps
**/.project
**/.autotools
**/.cproject
**/autom4te.cache
**/m4
**/config.h
**/config.log
**/stamp-h1
**/Makefile
**/config.guess
**/config.sub
**/ltmain.sh
**/ar-lib

**/*.iml
.classpath
.wtpmodules
.settings

# Mobile Tools for Java (J2ME)
.mtj.tmp/
workspace/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
